1.Create an sqlalchemy engine using a sample from the data set

In [80]:
import pandas as pd
from sqlalchemy import create_engine
adult = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data", sep=',', names = ["age", "workclass", "fnlwgt", "education","education_num","marital_status","occupation","relationship","race","sex","capital_gain","capital_loss","hours_per_week","native_country","label"])
engine=create_engine('sqlite:///:memory:')
with engine.connect() as conn,conn.begin():
    adult.to_sql('csv',conn,if_exists='replace',index=False)

In [89]:
import sqlite3
conn=sqlite3.connect('adult.db')
c=conn.cursor()

2.Write two basic update queries

In [92]:
#Updating value of age to 50 if education is Bachelors
c.execute("UPDATE adult SET age = 50 WHERE education=' Bachelors'")
conn.commit()
c.execute("select * from adult limit 20 ")
[(row[0],row[3]) for row in c.fetchall()]

[(50, ' Bachelors'),
 (50, ' Bachelors'),
 (38, ' HS-grad'),
 (53, ' 11th'),
 (50, ' Bachelors'),
 (37, ' Masters'),
 (49, ' 9th'),
 (52, ' HS-grad'),
 (31, ' Masters'),
 (50, ' Bachelors'),
 (37, ' Some-college'),
 (50, ' Bachelors'),
 (50, ' Bachelors'),
 (32, ' Assoc-acdm'),
 (40, ' Assoc-voc'),
 (34, ' 7th-8th'),
 (25, ' HS-grad'),
 (32, ' HS-grad'),
 (38, ' 11th'),
 (43, ' Masters')]

In [91]:
#Updating Male in column sex to 'M'(and Updated value of age to 50 if education is Bachelors)
c.execute("UPDATE adult SET sex ='M' where sex=' Male' ")
conn.commit()
c.execute("select * from adult limit 20 ")
[row[9] for row in c.fetchall()]

['M',
 'M',
 'M',
 'M',
 ' Female',
 ' Female',
 ' Female',
 'M',
 ' Female',
 'M',
 'M',
 'M',
 ' Female',
 'M',
 'M',
 'M',
 'M',
 'M',
 'M',
 ' Female']

3.Write two basic delete queries

In [109]:
#Delete all records whose gender is Female(Updated value of age to 50 for education=Bachelors and updated value of male to M)
c.execute("DELETE FROM adult where sex=' Female'")
conn.commit()
c.execute("select * from adult limit 20")
data=c.fetchall()
print(data)

[(50, ' State-gov', 77516, ' Bachelors', 13, ' Never-married', ' Adm-clerical', ' Not-in-family', ' White', 'M', 2174, 0, 40, ' United-States', ' <=50K'), (50, ' Self-emp-not-inc', 83311, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', 'M', 0, 0, 13, ' United-States', ' <=50K'), (38, ' Private', 215646, ' HS-grad', 9, ' Divorced', ' Handlers-cleaners', ' Not-in-family', ' White', 'M', 0, 0, 40, ' United-States', ' <=50K'), (53, ' Private', 234721, ' 11th', 7, ' Married-civ-spouse', ' Handlers-cleaners', ' Husband', ' Black', 'M', 0, 0, 40, ' United-States', ' <=50K'), (52, ' Self-emp-not-inc', 209642, ' HS-grad', 9, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', 'M', 0, 0, 45, ' United-States', ' >50K'), (50, ' Private', 159449, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', 'M', 5178, 0, 40, ' United-States', ' >50K'), (37, ' Private', 280464, ' Some-college', 10, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' Black', 'M', 0, 0, 80, ' United-States', ' >50K'), (50, ' State-gov', 141297, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' Asian-Pac-Islander', 'M', 0, 0, 40, ' India', ' >50K'), (32, ' Private', 205019, ' Assoc-acdm', 12, ' Never-married', ' Sales', ' Not-in-family', ' Black', 'M', 0, 0, 50, ' United-States', ' <=50K'), (40, ' Private', 121772, ' Assoc-voc', 11, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' Asian-Pac-Islander', 'M', 0, 0, 40, ' ?', ' >50K'), (34, ' Private', 245487, ' 7th-8th', 4, ' Married-civ-spouse', ' Transport-moving', ' Husband', ' Amer-Indian-Eskimo', 'M', 0, 0, 45, ' Mexico', ' <=50K'), (25, ' Self-emp-not-inc', 176756, ' HS-grad', 9, ' Never-married', ' Farming-fishing', ' Own-child', ' White', 'M', 0, 0, 35, ' United-States', ' <=50K'), (32, ' Private', 186824, ' HS-grad', 9, ' Never-married', ' Machine-op-inspct', ' Unmarried', ' White', 'M', 0, 0, 40, ' United-States', ' <=50K'), (38, ' Private', 28887, ' 11th', 7, ' Married-civ-spouse', ' Sales', ' Husband', ' White', 'M', 0, 0, 50, ' United-States', ' <=50K'), (40, ' Private', 193524, ' Doctorate', 16, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', 'M', 0, 0, 60, ' United-States', ' >50K'), (35, ' Federal-gov', 76845, ' 9th', 5, ' Married-civ-spouse', ' Farming-fishing', ' Husband', ' Black', 'M', 0, 0, 40, ' United-States', ' <=50K'), (43, ' Private', 117037, ' 11th', 7, ' Married-civ-spouse', ' Transport-moving', ' Husband', ' White', 'M', 0, 2042, 40, ' United-States', ' <=50K'), (50, ' Local-gov', 216851, ' Bachelors', 13, ' Married-civ-spouse', ' Tech-support', ' Husband', ' White', 'M', 0, 0, 40, ' United-States', ' >50K'), (19, ' Private', 168294, ' HS-grad', 9, ' Never-married', ' Craft-repair', ' Own-child', ' White', 'M', 0, 0, 40, ' United-States', ' <=50K'), (54, ' ?', 180211, ' Some-college', 10, ' Married-civ-spouse', ' ?', ' Husband', ' Asian-Pac-Islander', 'M', 0, 0, 60, ' South', ' >50K')]

In [110]:
#Delete all records if education_num less than 13(deleted male records)
c.execute("DELETE FROM adult where education_num < 13")
conn.commit()
c.execute("select * from adult limit 20")
data=c.fetchall()
print(data)

[(50, ' State-gov', 77516, ' Bachelors', 13, ' Never-married', ' Adm-clerical', ' Not-in-family', ' White', 'M', 2174, 0, 40, ' United-States', ' <=50K'), (50, ' Self-emp-not-inc', 83311, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', 'M', 0, 0, 13, ' United-States', ' <=50K'), (50, ' Private', 159449, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', 'M', 5178, 0, 40, ' United-States', ' >50K'), (50, ' State-gov', 141297, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' Asian-Pac-Islander', 'M', 0, 0, 40, ' India', ' >50K'), (40, ' Private', 193524, ' Doctorate', 16, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', 'M', 0, 0, 60, ' United-States', ' >50K'), (50, ' Local-gov', 216851, ' Bachelors', 13, ' Married-civ-spouse', ' Tech-support', ' Husband', ' White', 'M', 0, 0, 40, ' United-States', ' >50K'), (50, ' Private', 386940, ' Bachelors', 13, ' Divorced', ' Exec-managerial', ' Own-child', ' White', 'M', 0, 1408, 40, ' United-States', ' <=50K'), (50, ' Self-emp-not-inc', 88506, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', 'M', 0, 0, 40, ' United-States', ' <=50K'), (50, ' Private', 172987, ' Bachelors', 13, ' Married-civ-spouse', ' Tech-support', ' Husband', ' White', 'M', 0, 0, 50, ' United-States', ' <=50K'), (50, ' Federal-gov', 337895, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' Black', 'M', 0, 0, 40, ' United-States', ' >50K'), (50, ' Federal-gov', 251585, ' Bachelors', 13, ' Divorced', ' Exec-managerial', ' Not-in-family', ' White', 'M', 0, 0, 55, ' United-States', ' >50K'), (50, ' Private', 59496, ' Bachelors', 13, ' Married-civ-spouse', ' Sales', ' Husband', ' White', 'M', 2407, 0, 40, ' United-States', ' <=50K'), (42, ' Private', 116632, ' Doctorate', 16, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', 'M', 0, 0, 45, ' United-States', ' >50K'), (50, ' Self-emp-not-inc', 162298, ' Bachelors', 13, ' Married-civ-spouse', ' Sales', ' Husband', ' White', 'M', 0, 0, 70, ' United-States', ' >50K'), (50, ' Private', 276515, ' Bachelors', 13, ' Married-civ-spouse', ' Other-service', ' Husband', ' White', 'M', 0, 0, 40, ' Cuba', ' <=50K'), (33, ' Private', 202051, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', 'M', 0, 0, 50, ' United-States', ' <=50K'), (50, ' Local-gov', 226296, ' Bachelors', 13, ' Married-civ-spouse', ' Protective-serv', ' Husband', ' White', 'M', 0, 0, 40, ' United-States', ' >50K'), (48, ' Self-emp-not-inc', 191277, ' Doctorate', 16, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', 'M', 0, 1902, 60, ' United-States', ' >50K'), (76, ' Private', 124191, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', 'M', 0, 0, 40, ' United-States', ' >50K'), (50, ' Private', 198282, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', 'M', 15024, 0, 60, ' United-States', ' >50K')]

4.Write two basic filter queries

In [114]:
#Filter by sex=Male and education_num=13
c.execute("select * from adult where sex='M' and education_num = 13 limit 20")
values=c.fetchall()
print(values)

[(50, ' State-gov', 77516, ' Bachelors', 13, ' Never-married', ' Adm-clerical', ' Not-in-family', ' White', 'M', 2174, 0, 40, ' United-States', ' <=50K'), (50, ' Self-emp-not-inc', 83311, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', 'M', 0, 0, 13, ' United-States', ' <=50K'), (50, ' Private', 159449, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', 'M', 5178, 0, 40, ' United-States', ' >50K'), (50, ' State-gov', 141297, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' Asian-Pac-Islander', 'M', 0, 0, 40, ' India', ' >50K'), (50, ' Local-gov', 216851, ' Bachelors', 13, ' Married-civ-spouse', ' Tech-support', ' Husband', ' White', 'M', 0, 0, 40, ' United-States', ' >50K'), (50, ' Private', 386940, ' Bachelors', 13, ' Divorced', ' Exec-managerial', ' Own-child', ' White', 'M', 0, 1408, 40, ' United-States', ' <=50K'), (50, ' Self-emp-not-inc', 88506, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', 'M', 0, 0, 40, ' United-States', ' <=50K'), (50, ' Private', 172987, ' Bachelors', 13, ' Married-civ-spouse', ' Tech-support', ' Husband', ' White', 'M', 0, 0, 50, ' United-States', ' <=50K'), (50, ' Federal-gov', 337895, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' Black', 'M', 0, 0, 40, ' United-States', ' >50K'), (50, ' Federal-gov', 251585, ' Bachelors', 13, ' Divorced', ' Exec-managerial', ' Not-in-family', ' White', 'M', 0, 0, 55, ' United-States', ' >50K'), (50, ' Private', 59496, ' Bachelors', 13, ' Married-civ-spouse', ' Sales', ' Husband', ' White', 'M', 2407, 0, 40, ' United-States', ' <=50K'), (50, ' Self-emp-not-inc', 162298, ' Bachelors', 13, ' Married-civ-spouse', ' Sales', ' Husband', ' White', 'M', 0, 0, 70, ' United-States', ' >50K'), (50, ' Private', 276515, ' Bachelors', 13, ' Married-civ-spouse', ' Other-service', ' Husband', ' White', 'M', 0, 0, 40, ' Cuba', ' <=50K'), (50, ' Local-gov', 226296, ' Bachelors', 13, ' Married-civ-spouse', ' Protective-serv', ' Husband', ' White', 'M', 0, 0, 40, ' United-States', ' >50K'), (50, ' Private', 198282, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', 'M', 15024, 0, 60, ' United-States', ' >50K'), (50, ' Private', 432376, ' Bachelors', 13, ' Never-married', ' Sales', ' Other-relative', ' White', 'M', 0, 0, 40, ' United-States', ' <=50K'), (50, ' Private', 118853, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', 'M', 0, 0, 60, ' United-States', ' <=50K'), (50, ' Private', 77143, ' Bachelors', 13, ' Never-married', ' Exec-managerial', ' Own-child', ' Black', 'M', 0, 0, 40, ' Germany', ' <=50K'), (50, ' State-gov', 267989, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', 'M', 0, 0, 50, ' United-States', ' >50K'), (50, ' Private', 254202, ' Bachelors', 13, ' Married-civ-spouse', ' Sales', ' Husband', ' White', 'M', 0, 0, 50, ' United-States', ' <=50K')]

In [118]:
#Filter only marital_status, workclass and race columns
c.execute("select marital_status,workclass, race from adult limit 20")
#conn.commit()
[row for row in c.fetchall()]

[(' Never-married', ' State-gov', ' White'),
 (' Married-civ-spouse', ' Self-emp-not-inc', ' White'),
 (' Married-civ-spouse', ' Private', ' White'),
 (' Married-civ-spouse', ' State-gov', ' Asian-Pac-Islander'),
 (' Married-civ-spouse', ' Private', ' White'),
 (' Married-civ-spouse', ' Local-gov', ' White'),
 (' Divorced', ' Private', ' White'),
 (' Married-civ-spouse', ' Self-emp-not-inc', ' White'),
 (' Married-civ-spouse', ' Private', ' White'),
 (' Married-civ-spouse', ' Federal-gov', ' Black'),
 (' Divorced', ' Federal-gov', ' White'),
 (' Married-civ-spouse', ' Private', ' White'),
 (' Married-civ-spouse', ' Private', ' White'),
 (' Married-civ-spouse', ' Self-emp-not-inc', ' White'),
 (' Married-civ-spouse', ' Private', ' White'),
 (' Married-civ-spouse', ' Private', ' White'),
 (' Married-civ-spouse', ' Local-gov', ' White'),
 (' Married-civ-spouse', ' Self-emp-not-inc', ' White'),
 (' Married-civ-spouse', ' Private', ' White'),
 (' Married-civ-spouse', ' Private', ' White')]

5.Write two basic function queries

In [120]:
#Function to find sum of capital_loss(Existing database values)
val=c.execute("select sum(capital_loss) from adult")
values=val.fetchone()
print(values[0])

924792

In [121]:
#function to find total number of Whites(Existing database values)
val=c.execute("select count(*) from adult where race=' White'")
values=val.fetchone()
print(values[0])

5135